@import './../../variables';

.container-benefits-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .benefits-title{
        font-family: $font;
        font-style: normal;
        font-weight: 800;
        font-size: 40.5px;
        color: $Color-white;
        text-align: center;
        margin: 5vw;
    }
    .benefits-container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen  and (max-width: 1100px) {
    .benefits-container{
        padding-left: 20vw;
    }
    .container-benefits-page{
        .benefits-title{
            font-size: 30px;
        }
    }
}

