@import './../../variables';

.btn{
    background-color: $Color-cyan;
    border-radius: 10px;
    padding: 5px 20px;
    gap: 12px;
    font-family: $font;
    font-size: 20px;
    font-weight: 500;
    &:hover{
        background-color: $Color-cyan-hover;
        color: black;
    }
}