

.tyc{
    background: linear-gradient(180deg, rgb(13, 0, 19) 0%, rgba(42, 0, 62, 1) 100%);
    color: white;
    font-family: "Exo", sans-serif;;
    .tyc-container{
        background-image: url('../../img/mountains.png');
        background-repeat: repeat;
        background-position: 50% 0;
        background-size: cover;
        .tyc-logo {
            margin: 30px 60px;
        }
        .tyc-text{
            width: 950px;
            margin: auto;
            h1 {
                margin: 50px 0 130px 0;
                text-align: center;
                font-size: 56px;
                font-weight: bold;
            }
            h2{
                margin-bottom: 10px;
                text-align: center;
                font-size: 34px;
                font-weight: bold;
            }
            p {
                margin: 60px auto;
                font-size: 20px;
                font-weight: 500;
                text-align: justify;
                text-wrap: pretty;
                a {
                    color: #00CEC9E5;
                    text-decoration: none;
                }
            }
        }
        .tyc-footer {
            background-color: white;
        }
    }
}