.blog-article {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Centrar el contenido del blog */

    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
}

.blog-header {
    margin-bottom: 20px;
    text-align: center; /* Centrar el encabezado */
}

.blog-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.blog-date {
    font-size: 0.9rem;
    color: #6c757d;
}

.blog-image-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.blog-image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}


.blog-content {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left; /* Alinear el contenido a la izquierda */
    margin: 0 auto; /* Asegurarse de que el contenido esté centrado */
    max-width: 800px; /* Limitar el ancho del contenido */
}
