@import './../../variables';

.container{
    padding: 0;
    display: flex;
    margin: 10px $sidesMargin;
    justify-content: space-between;
    align-items: center;
    .nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 !important;
    }
    .navLinks{
        color: #D8D8D8 !important;
        width: 146px;
        text-align: center;
        padding:  0px 5px !important;
        font-family: $font;
        text-decoration: none;
        margin-bottom: 5px;
        margin-top: 5px;
        &:hover{
            font-weight: 600;
        }
    }
}

