@import './../../variables';

.carouselContainer{
    width: 100% !important;
    position: relative;
    .carouselInfo{
        position: absolute;
        width: 27vw;
        top:40%;
        transform: translate(0,-50%);
        margin: 40px $sidesMargin;
        z-index: 2;
        font-family: $font;
        color: $Color-white;
        h1{
            font-size: 24px !important;
            font-weight: 700;
        }
        p{
            font-size: 20px;
            font-weight: 400;
        }
        span{
            display: block;
            font-size: 45px;
            font-weight: 800;
        }
    }
    .carousel-indicators{
        display: none !important;
    }
    span{
        display: none;
    }
}

.imgs{
    width: 100vw;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .carouselContainer{
        .carouselInfo{
            width: 50vw;
            height: 20vw;
            h1{
                font-size: 18px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                font-weight: 400;
            }
            span{
                font-size: 24px;
                font-weight: 800;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .carouselContainer{
        .carouselInfo{
            width: 60vw;
            height: 45vw;
            h1{
                font-size: 16px;
                font-weight: 700;
            }
            p{
                font-size: 14px;
                font-weight: 400;
            }
            span{
                font-size: 20px;
                font-weight: 800;
            }
        }
    }
}