body {
  background: linear-gradient(180deg, rgb(13, 0, 19) 0%, rgba(42, 0, 62, 1) 100%);

/*   #root{
    background-image: url('./img/mountains.png') ;
    opacity: 1;
    background-size: contain;
  } */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box
}
#root {
  position: relative;
}