@import './../../variables';

.plans{
    position: relative;
    color: white;
    text-align: center;
    font-family: $font;
    margin-top: 5%;
    margin-bottom: 5%;
    p{
        font-size: 18px;
        font-weight: 400;
    }
    h2{
        font-size: 40px;
        font-weight: 800;
    }

    #dropdown-basic-button{
        position: absolute;
        right: $sidesMargin;
        top: 50px;
        z-index: 10;

        background-color: #160020;
        border: none;
        border-radius: 5px;

        &:hover{
            color: white;
        }
    }

    .dropdown-menu{
        background-color: #160020;
        width: 67px;

        .dropdown-item{
            width: 67px;
            color: white;

            &:hover{
                background-color: #3F055B15;
            }
        }
    }
    .show{
        /*  */
    }
}