@import './../../variables';

.plansListContainer{
  margin: 20px $sidesMargin 5% $sidesMargin;
}

.gameListRow {
    display: flex;
    justify-content: space-between;
  }

.gameLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 5rem;
  }
  
